
.DS_Store
frontend/admin/src/config.js
*.exe
backend/public/logs/audit.log
*.log
*.log
backend/public/logs/general.log
*.log
*.log
backend/public/logs/audit.log
backend/public/logs/general.log
backend/public/logs/audit.log
backend/public/logs/audit.log
backend/public/logs/audit.log
backend/public/logs/audit.log
backend/public/logs/audit.log
backend/public/logs/general.log
backend/public/logs/general.log
backend/public/logs/audit.log
backend/public/comprobantes/C-2263950.pdf
backend/public/logs/audit.log
backend/public/logs/audit.log
*.log
*.xlsx
*.log
backend/public/logs/audit.log
backend/public/logs/audit.log
